 
<div class="d-flex justify-content-between">
 <div class="d-flex"><div class="h3 mr-10">{{summaryPage.customerName}}      
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
 <div  class="h4 pl-10 ">{{summaryPage.portfolioNumber}}</div> 
</div>

<p-button (click)="showDialog()" icon="pi pi-external-link" label="Add Trade"></p-button>


</div>


<div class="d-flex justify-content-between w-50">
 <span class="h4">  {{summaryPage.portfolioValue| number}} </span>

 <span class="h4">{{summaryPage.currentPerformance}}</span> 
 <span class="h4">{{summaryPage.investmentStrategy}}</span> 
</div> 

<br/>
<br/>
<br/>
    <p-tabView>
     <p-tabPanel header="Position">
      <p-table
      [value]="positions"
      [paginator]="true" 
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th style="width:20%">InstrumentId</th>
              <th style="width:20%">InstrumentName</th>
              <th style="width:20%">Units</th>
              <th style="width:20%">Instrument Type</th>

              <th style="width:20%">Value</th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-position>
          <tr>
              <td>{{ position.instrumentId }}</td>
              <td>{{ position.instrumentName }}</td>
              <td>{{ position.units }}</td>
              <td>{{ position.instrumentType }}</td>
              <td>{{ position.value }}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>
     </p-tabPanel>
     <p-tabPanel header="Audit">
      <p-table
      [value]="audit"
      [paginator]="true" 
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th style="width:14%">Transaction Id</th>
              <th style="width:14%">Intrument Id</th>
              <th style="width:14%">Intrument Name</th>
              <th style="width:14%">Trade Type</th>
              <th style="width:14%">Unit</th>
              <th style="width:14%">Price</th>
              <th style="width:14%">Audit Date</th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-audit>
          <tr>
              <td>{{ audit.transactionRefb }}</td>
              <td>{{ audit.instrumentId }}</td>
              <td>{{ audit.instrumentName }}</td>
              <td>{{ audit.tradeType }}</td>
              <td>{{ audit.units }}</td>
              <td>{{ audit.price }}</td>
              <td>{{ audit.auditDate | date }}</td>
 
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>
     </p-tabPanel>

 </p-tabView>